<!DOCTYPE html>
<html>
    <head>
        <title>PGS-页面管理系统</title>
        <meta charset="UTF-8">
       <link rel="stylesheet" type="text/css" href="{-$PUBLIC-}/css/login.css">
    </head>
    
    <body>
        <div class="main-content">
            <div class="login-content">
                <div class="login-line">
                    <h1>Page generation system</h1>
                </div>
                <div class="login-line">
                    <input type="text" name="name" placeholder="用户名">
                </div>
                <div class="login-line">
                    <input type="text" name="pass" placeholder="密码">
                </div>
                 <div class="login-line">
                    <span>忘记密码</span>
                </div>
                <div class="login-line">
                    <button>登陆</button>
                </div>
            </div>
        </div>
	</body>

